
.dropdown-item {
  font-size: 12px !important;
  box-shadow: none !important;

  &.active {
    .text-muted {
      color: inherit !important;
    }
  }
}

#pagex-search-elements {
  border: 0;
}

.pagex-params-modal-head {
  input.form-control {
    height: 32px !important;
    min-height: 32px;
    margin: 0 !important;
    border-radius: .25rem;
    border: 1px solid #ced4da;

    &:focus {
      border-color: #80bdff;
    }
  }

  .pagex-modal-search-input {
    font-size: 11px !important;
    box-shadow: none !important;
    border: 0 !important;
  }

  .input-group-text {
    color: #6d7882;
    font-size: 12px;
    line-height: 20px;
    background: #fff;
    height: 32px;
    font-weight: 900;
    border: 0;
  }
}

.pagex-params-modal {
  font-family: Arial !important;
  font-size: 11px !important;
  color: #525f7f;
  position: fixed;
  background: #fff;
  z-index: 9990;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .06), 0 5px 15px rgba(0, 0, 0, .07);
  border-bottom: 15px solid #fff;
  border-radius: 5px;
  width: 510px;
  height: auto !important;

  button,
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    font-weight: 400;
    font-family: Arial !important;
    font-size: 12px !important;
    box-shadow: none !important;
    padding: .375rem .75rem !important;
    line-height: 1.5 !important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-height: 32px !important;
    height: auto;
    margin: 0;
    letter-spacing: normal !important;
    text-transform: none;
  }

  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus {
    border-color: #80bdff;
  }

  [name="pagex_custom_css"] {
    font-family: monospace !important;
  }

  .input-group-text {
    font-size: 12px !important;
    box-shadow: none !important;
  }

  .text-muted {
    opacity: .8;
    font-size: 9px !important;
    line-height: 14px;
    margin-top: 5px;
    font-weight: 400;

    a {
      color: #39b7ff;
      text-decoration: underline;
    }

    &:empty {
      display: none;
    }
  }

  .form-row label {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 13px;
    color: #525f7f !important;
  }

  /* fix admin wp style */
  .input-group {
    .form-control,
    .custom-select,
    .custom-file {
      width: 1% !important;
      margin-bottom: 0 !important;
      margin-left: -1px !important;
    }

    .pagex-link-control-dynamic {
      margin-left: -1px !important;
    }

    .pagex-link-control-href {
      width: 200px !important;
    }
  }

  .pagex-link-show-attrs {
    * {
      pointer-events: none;
    }
  }

  .pagex-control-option-color,
  .pagex-control-option-background {
    max-width: 101px;
  }

  .custom-select {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem !important;
    -webkit-appearance: none;
    line-height: 1 !important;
    height: 32px;
    min-height: 32px;
    margin: 0;
    border: 1px solid #ced4da;

    &[multiple] {
      height: 60px;
    }
  }

  .element-template .ui-state-highlight {
    display: none !important;
  }

  .pagex-form-heading-control {
    font-weight: 700;
    margin: 20px 0 5px;
    font-size: 12px;
  }
}

// style only not admin area since backend has wordpress style
body:not(.wp-admin) #pagex-params-modal {
  input[type="radio"],
  input[type="checkbox"] {
    background: rgba(128, 128, 128, 0.21);
  }

  input[type="radio"]:checked, input[type="checkbox"]:checked {
    border-color: #386cff;
  }
}

#pagex-params-modal {
  top: calc(50% - 250px);
  left: calc(50% - 250px);

  .pagex-image-placeholder {
    width: 145px;
    max-width: 100%;
    height: 130px;
    background-color: #ecf0f5;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;

    &:hover .pagex-image-delete {
      opacity: 1;
    }
  }

  .pagex-image-delete {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 11px;
    opacity: 0;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, .4);
    }
  }

  .pagex-link-attrs {
    margin-right: -5px;
    margin-left: -5px;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-checkbox label {
    line-height: 26px;
  }

  .pagex-responsive-switchers {
    display: inline-block;
    position: relative;
    top: -3px;

    .pagex-responsive-switcher-button {
      font-weight: 400;
      padding: 0;
      line-height: 20px;
      border-radius: 18px;
      height: 18px;
      width: 18px;
      font-size: 8px;

      * {
        pointer-events: none;
      }

      small,
      span {
        display: none;
      }

      &:hover {
        background: #343a40;
      }
    }
  }

  .pagex-responsive-params {
    display: none;

    &.active {
      display: block;
    }
  }
}

.pagex-params-modal-head {
  background: #58c2ff;
  background-image: linear-gradient(90deg, #58c2ff 0%, #8080ff 100%);
  padding: 20px 25px;
  font-size: 13px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  cursor: move;
}

.pagex-params-modal-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.pagex-params-modal-close {
  transition: .2s;
  margin-left: 20px;
  font-size: 15px !important;
  cursor: pointer;

  * {
    pointer-events: none;
  }

  &:hover {
    opacity: .6;
  }
}

.pagex-main-modal-window {
  width: calc(100% - 50px);
  max-width: 1150px;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;

  .pagex-params-modal-head {
    cursor: auto;
  }
}

.pagex-elements-item {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ecf2f4;
  width: calc(100% / 7 - 0.5rem);

  * {
    pointer-events: none;
  }

  small {
    line-height: 14px;
    display: block;
    margin-top: 9px;
    opacity: .6;
    font-size: 10px;
  }

  h5 {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    font-family: Arial !important;
    letter-spacing: initial;
    text-transform: none;
    color: #525f7f !important;
  }

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(18, 25, 38, .1);
  }
}

.pagex-params-library-layout {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  min-height: 50px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #ecf2f4;
  margin-top: -1px;
  transition: .2s;

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(18, 25, 38, .1);
  }

  .pagex-params-library-layout-title {
    font-weight: 500;
    padding-right: 20px;
    width: 25%;
  }

  .pagex-params-library-layout-type {
    opacity: .7;
  }

  .pagex-params-library-layout-action {
    margin-left: auto;
  }
}

#pagex-layouts-modal {
  button {
    i {
      margin-right: 8px;
    }

    * {
      pointer-events: none;
    }
  }
}

#pagex-save-layouts-modal {
  max-width: 500px;
}


#pagex-control-responsive-switcher {
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-family: Arial !important;
  position: fixed;
  top: 0;
  left: 0;

  .pagex-responsive-switchers-options {
    position: absolute;
  }

  li {
    display: flex;
    align-items: center;
  }

  small {
    color: #6c757d;
    margin-left: auto;
    padding-left: 1.5rem;
  }

  sup {
    color: #6c757d;
    font-family: monospace !important;
  }

  .pagex-device-all {
    border-top: 1px solid #dee3e7;
    padding-top: 10px;
    margin-top: 5px;
  }

  .dropdown-menu {
    font-size: 12px !important;
    box-shadow: 0 10px 15px rgba(50, 50, 93, .08), 0 0 15px rgba(0, 0, 0, .1);
    border-color: rgba(40, 40, 93, .05);

    i {
      display: none;
    }

    .dropdown-item {
      &.active {
        small,
        sup {
          color: #fff;
        }
      }
    }
  }

  .pagex-device-switcher {
    cursor: pointer;
    margin: 0;

    * {
      pointer-events: none;
    }
  }
}

.pagex-responsive-switcher-all {
  .pagex-responsive-params {
    display: flex !important;
    align-items: center;
    margin-bottom: 5px;

    &:before {
      opacity: .8;
      margin-right: 10px;
      font-family: monospace !important;
    }
  }

  .pagex-device-xs:before {
    content: 'xs';
  }

  .pagex-device-sm:before {
    content: 'sm';
  }

  .pagex-device-md:before {
    content: 'md';
  }

  .pagex-device-lg:before {
    content: 'lg';
  }

  .pagex-device-xl:before {
    content: 'xl';
  }
}

#pagex-icons-modal {
  z-index: 9999;
}

.pagex-iconpicker-icon {
  cursor: pointer;
  text-align: center;
  line-height: 43px;
  width: 43px;
  height: 43px;
  font-size: 18px;
  border: 1px solid #ededed;
  margin: -1px -1px 0 0;
  transition: .2s;

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(18,25,38,0.1);
  }
}

.pagex-device-preview {
  &-xs, &-sm, &-md, &-lg, &-xl {
    .pagex-responsive-switcher-button {
      background-color: #007bff;
    }
  }
}

.pagex-layouts-modal-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;

  select {
    width: 200px;
  }

  .input-group {
    width: 200px;
  }

  i {
    line-height: 24px;
  }
}

.pagex-layouts-modal-content {
  column-count: 3;
  column-gap: 30px;
  margin-top: 20px;

  &.pagex-layouts-modal-content-excerpts {
    column-count: 4;
  }

  div {
    break-inside: avoid;
    margin-bottom: 30px;
    border-radius: 4px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 4px;
      opacity: 0;
      transition: .3s;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 4px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ecf2f4;
      box-shadow: 0 1px 20px 0 rgba(0,0,0,.07);
      transition: box-shadow 0.2s;
      pointer-events: none;
    }

    &:hover {
      img {
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.2);
      }

      button {
        opacity: 1;
      }

      &:after {
        opacity: .85;
      }
    }
  }

  button {
    opacity: 0;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* WP Media Modal */

.media-modal-content {
  button {
    min-height: auto !important;
    letter-spacing: normal !important;
    line-height: 17px !important;
    text-transform: none !important;
    padding: 0 12px 2px !important;
    font-size: 14px !important;
  }
}


