/* Accessibility */

// Text meant only for screen readers
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments */

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Widgets */

.widget {
  position: relative;
  .widget-title,
  .widgettitle {
    line-height: normal;
  }

  .tagcloud {
    margin-top: 20px;
  }

  ul {
    padding: 0px;
    list-style: none;

    ul {
      padding-left: 15px;
    }

    a {
      padding: 2px 0;
    }
  }
}

/* WordPress Widgets */

.widget_calendar {
  table {
    border: none;
  }

  caption {
    caption-side: top;
  }

  td, th {
    padding: .236em;
    text-align: center;
    border: none;
  }

  tfoot {
    #prev {
      text-align: left;
    }

    #next {
      text-align: right;
    }
  }
}

.widget_search,
.widget_product_search {
  .screen-reader-text {
    display: none;
  }

  form {
    position: relative;
    display: flex;
  }

  input {
    margin: 0;
    width: 100%;
  }

  label {
    flex-grow: 1;
    margin: 0;
  }

  [type="submit"] {
    margin-left: 12px;
    width: auto;
  }
}

.widget_recent_entries li,
.widget_recent_comments li {
  margin-bottom: 5px;
}

.widget_media_audio button,
.widget_media_video button {
  min-height: auto;
}

.widget_media_audio button:focus,
.widget_media_video button:focus {
  box-shadow: none;
  outline: none !important;
}

.widget_media_video .mejs-overlay-button:focus {
  outline: none !important;
}

/* Archive */

.post.sticky {
  width: 100% !important;
  margin-bottom: 35px;
}

.archive-description p:last-of-type,
.post-entry-content p:last-of-type {
  margin-bottom: 0;
}

/* Posts */

.sticky {
  display: block;
}

.sticky .entry-title {
  font-size: 200%;
}

.hentry {
  margin: 0;
}

.entry-title {
  word-wrap: break-word;
  margin: 0;
}

.page-title {
  margin: 0;
}

.bypostauthor {
  color: inherit;
}

/* Media */

.wp-smiley,
.wp-smiley,
.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

embed,
iframe,
object {
  max-width: 100%;
  border: 0;
}

/* Captions */

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 15px 0 20px;
  font-size: 85%;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries */

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/* Password Form */

.post-password-form [type="submit"] {
  position: absolute;
  bottom: 0;
  width: auto;
  right: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: inherit;
}

.post-password-form [name="post_password"] {
  margin-top: 10px;
}

.post-password-form p {
  position: relative;
}

/* Gutenberg */

.wp-block-quote {
  p {
    margin: 0 0 10px !important;
  }

  cite {
    color: inherit;
    opacity: .6;
  }
}