.pagex-woo-checkout {
  display: flex;
  width: 100%;

  > .woocommerce {
    width: 100%;
  }
}

.woocommerce-billing-fields__field-wrapper {
  label {
    font-size: 90%;
    letter-spacing: -.1px;
  }
}

form.woocommerce-checkout {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 10px;

  abbr {
    text-decoration: none;
  }

  .col-1,
  .col-2 {
    padding: 0;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .col-2 {
    margin-top: 50px;
  }

  .col2-set {
    width: 100%;
    float: left;
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      width: 54%;
      margin-bottom: 0;
    }
  }

  #order_review_heading,
  #order_review {
    width: 100%;
    float: right;

    @include media-breakpoint-up(md) {
      width: 41%;
    }
  }

  #ship-to-different-address {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
  }

  .woocommerce-additional-fields {
    margin-top: 30px;
  }

  .woocommerce-checkout-review-order-table {
    th, td {
      border: 0;
      padding: 0 5px 10px 0;
    }

    .product-name {
      strong {
        font-weight: normal;
      }
    }

    .cart-subtotal {
      th, td {
        padding-top: 20px;
      }
    }

    .order-total {
      line-height: 1;

      th, td {
        padding: 10px 5px 10px 0;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
      }
    }
  }

  .form-row {
    margin-left: 0;
    margin-right: 0;
  }
}

.woocommerce-shipping-methods,
.wc_payment_methods {
  margin: 0;
  padding: 0;
  list-style: none;

  label {
    margin: 0;
  }
}

.woocommerce-form-coupon-toggle,
.woocommerce-form-login-toggle {
  margin-bottom: 20px;

  a {
    float: none;
    margin: 0;
  }
}

.woocommerce-NoticeGroup-checkout {
  margin-bottom: 20px;
}

.woocommerce-form-coupon {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;

  p:not(.form-row) {
    width: 100%;
  }
  .form-row {
    margin-left: 0;
    margin-right: 0;

    &.form-row-first {
      margin-right: 15px;
    }
  }
}

.woocommerce-checkout-payment {
  margin-top: 35px;
}

.wc_payment_method {
  margin-bottom: 15px;

  .payment_box {
    margin-top: 3px;
    font-size: 90%;
    opacity: .7;
  }

  p {
    margin-bottom: 0;
  }
}

.woocommerce-terms-and-conditions-wrapper {
  width: 100%;
  margin: 20px 0;

  > p, label {
    margin: 0;
  }
}

.woocommerce-terms-and-conditions {
  margin: 0 0 20px;
  font-size: 90%;
  line-height: 1.7;
  padding: 0 10px 0 0;

  h1, h2, h3, h4 {
    font-size: 150%;
  }
}

#place_order {
  width: 100%;
  height: 55px;
  margin-top: 20px;
}