table.shop_attributes {
  border: 0;
  margin-bottom: 20px;

  th {
    width: 150px;
    padding: 8px;
    border: 0;
    margin: 0;
    line-height: 1.5;
  }

  td {
    padding: 8px;
    border: 0;
    margin: 0;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }

  tr:nth-child(even) td,
  tr:nth-child(even) th {
    background: rgba(0, 0, 0, 0.02);
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: inherit !important;
  line-height: inherit !important;
  padding: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 0.375rem !important;
  height: 100% !important;
}

.select2-results__option,
.select2-search--dropdown .select2-search__field{
  padding: 0.3rem 0.75rem !important;
}

.select2-search--dropdown {
  padding: 0.6rem 0.75rem !important;
}

.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
  position: relative;
  margin: 0 !important;
  text-align: left;
}

table.shop_table {
  border-left-width: 0;
  border-right-width: 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;

  .shipping-calculator-form {
    margin-top: 15px;
  }

  th {
    padding: 9px 12px;
    line-height: 1.5em;
  }

  td {
    padding: 9px 12px;
    vertical-align: middle;

    small {
      font-weight: normal;
    }
  }

  tbody:first-child tr:first-child {
    th,
    td {
      border-top: 0;
    }
  }

  .form-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

table.my_account_orders {
  font-size: 0.85em;

  th,
  td {
    padding: 4px 8px;
    vertical-align: middle;
  }

  .button {
    white-space: nowrap;
  }

  .order-actions {
    text-align: right;

    .button {
      margin: 0.125em 0 0.125em 0.25em;
    }
  }
}

table.woocommerce-MyAccount-downloads {
  td,
  th {
    vertical-align: top;
    text-align: center;

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: left;
    }

  }
}

td.product-name {
  dl.variation, .wc-item-meta {
    list-style: none outside;

    dt, .wc-item-meta-label {
      float: left;
      clear: both;
      margin-right: .25em;
      display: inline-block;
      list-style: none outside;
    }

    dd {
      margin: 0;
    }

    p,
    &:last-child {
      margin-bottom: 0;
    }
  }

  p.backorder_notification {
    font-size: 0.83em;
  }
}

td.product-quantity {
  min-width: 80px;
}