table.shop_attributes {
  border: 0;
  margin-bottom: 20px;

  th {
    width: 150px;
    padding: 8px;
    border: 0;
    margin: 0;
    line-height: 1.5;
  }

  td {
    padding: 8px;
    border: 0;
    margin: 0;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }

  tr:nth-child(even) td,
  tr:nth-child(even) th {
    background: rgba(0, 0, 0, 0.02);
  }
}

table.shop_table {
  border-left-width: 0;
  border-right-width: 0;
  border-collapse: separate;

  .shipping-calculator-form {
    margin: 15px 0;
  }

  th {
    padding: 9px 12px;
    line-height: 1.5em;
  }

  td {
    padding: 9px 12px;
    vertical-align: middle;

    small {
      font-weight: normal;
    }
  }

  tbody:first-child tr:first-child {
    th,
    td {
      border-top: 0;
    }
  }

  .form-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@include media-breakpoint-down(sm) {
  table.shop_table_responsive {
    thead {
      display: none;
    }

    tbody {
      tr:first-child {
        td:first-child {
          border-top: 0;
        }
      }

      th {
        display: none;
      }
    }

    tr {
      display: block;

      td {
        border: 0;
        display: block;
        text-align: right;

        &[data-title]::before {
          content: attr(data-title) ': ';
          font-weight: 700;
          padding-right: 10px;
          float: left;
        }
      }
    }
  }
}

table.my_account_orders {
  font-size: 0.85em;

  th,
  td {
    padding: 4px 8px;
    vertical-align: middle;
  }

  .button {
    white-space: nowrap;
  }

  .order-actions {
    text-align: right;

    .button {
      margin: 0.125em 0 0.125em 0.25em;
    }
  }
}

table.woocommerce-MyAccount-downloads {
  td,
  th {
    vertical-align: top;
    text-align: center;

    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: left;
    }

  }
}

td.product-name {
  dl.variation, .wc-item-meta {
    list-style: none outside;

    dt, .wc-item-meta-label {
      float: left;
      clear: both;
      margin-right: .25em;
      display: inline-block;
      list-style: none outside;
    }

    dd {
      margin: 0;
    }

    p,
    &:last-child {
      margin-bottom: 0;
    }
  }

  p.backorder_notification {
    font-size: 0.83em;
  }
}

td.product-quantity {
  min-width: 80px;
}