
#pagex-backend-editor .pagex-bc,
#pagex-backend-editor .handlediv,
#pagex-backend-editor .pagex-shape,
body.wp-admin #pagex-settings {
  display: none !important;
}

#pagex-backend-editor .d-none,
#pagex-backend-editor .d-sm-none,
#pagex-backend-editor .d-md-none,
#pagex-backend-editor .d-lg-none,
#pagex-backend-editor .d-xl-none {
  display: inherit !important;
}

#pagex-backend-editor {
  * {
    box-sizing: border-box;
  }

  .inside {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    display: block !important;
  }

  [data-type] {
    min-height: 40px !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    position: relative !important;
    z-index: initial !important;
  }

  [data-type="section"] {
    margin: 0 0 20px !important;
    background: #fafafa !important;
    padding: 0 !important;
    position: relative;
  }

  [data-type="container"] {
    width: 100% !important;
    max-width: 100% !important;
    background: #fafafa !important;
  }

  [data-type="column"] {
    outline: #d5dadf dashed 1px;
    padding: 0 15px !important;
    margin: 0 !important;
    background: #F5F5F5 !important;
    box-shadow: 0 0 0 5px #fff inset, 0 0 0 6px #d5dadf inset !important;

    &:empty:after {
      outline: none !important;
    }
  }

  [data-type="inner-row"] {
    margin: 20px 0px 15px !important;
    padding: 0 !important;
  }

  .element {
    background: #FFFFFF !important;
    margin: 15px 0px !important;
    padding: 0 !important;
    outline: 1px solid #d5dadf !important;
    min-height: 32px !important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 1 !important;
    transform: none !important;
    filter: none !important;
    font-family: Arial !important;

    .element-wrap {
      display: none;
      width: 100%;
      padding: 0 10px;
      margin-top: 10px;
    }

    &:before {
      display: block !important;
      padding: 0 10px !important;
      opacity: .9 !important;
      font-size: 12px !important;
      color: #42527b !important;
      font-weight: 500 !important;
      text-transform: none !important;
      letter-spacing: normal !important;
    }
  }
}

#pagex-backend-content {
  [data-type="tabs"],
  [data-type="accordion"],
  [data-type="slider"] {
    padding: 10px 0 0 !important;

    > .element-wrap {
      display: block;
    }
  }
}

/* Slider */

#pagex-backend-content {
  .pagex-slider-navigation,
  .pagex-slider-pagination {
    display: none;
  }

  [data-type="slider"] .pagex-options {
    top: 0;
  }

  .pagex-inner-row-holder {
    background: #f9f9fa;
    border: 1px solid #d5dadf;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .swiper-container {
    padding: 0 !important;
  }
}

/* Accordion */

#pagex-backend-content {
  .pagex-accordion-item {
    background: #f9f9fa;
    border: 1px solid #00aef0;
    margin-bottom: 15px;

    &.pagex-item-active .pagex-accordion-item-content-wrapper {
      display: block;
    }
  }

  .pagex-accordion-item-content-wrapper {
    padding: 0 20px;
    display: none;
  }

  .pagex-accordion-item-header {
    background: #00aef0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 11px !important;

    * {
      pointer-events: none;
    }
  }

  .pagex-accordion-toggle {
    display: none;
  }
}

/* Tabs */

#pagex-backend-content {
  [data-type="tabs"] {
    .pagex-tabs-pane {
      display: none;
    }

    .pagex-tabs-pane.pagex-item-active {
      display: block;
    }

    .pagex-tabs-nav-item {
      padding: 10px 15px !important;
      cursor: pointer;
      border: 1px solid transparent;

      * {
        pointer-events: none;
      }

      .pagex-item-active {
        background: #f9f9f9;
        border-color: #dee2e6;
        border-bottom-color: #f9f9f9;
      }
    }

    .pagex-tabs-nav-items {
      display: flex;
      margin: 0 0 -1px 0 !important;
    }

    .pagex-tabs-panes {
      border: 1px solid #dee2e6;
      background: #f9f9f9;
      padding: 0 20px;
      margin-bottom: 10px;
    }
  }
}
