
#pagex-backend-editor .pagex-bc,
#pagex-backend-editor .handlediv,
#pagex-backend-editor .pagex-shape,
body.wp-admin #pagex-settings {
  display: none !important;
}

#pagex-backend-editor {
  .d-none,
  .d-sm-none,
  .d-md-none,
  .d-lg-none,
  .d-xl-none {
    display: block !important;
  }

  pagexstyle {
    display: none;
  }
}

#pagex-backend-editor {
  * {
    box-sizing: border-box;
  }

  .inside {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    display: block;
  }

  [data-type] {
    min-height: 40px;
    position: relative;
  }

  [data-type="section"] {
    margin: 0 0 20px;
    background: #fafafa;
    position: relative;
  }

  [data-type="container"] {
    width: 100%;
    max-width: 100%;
    background: #fafafa;
  }

  [data-type="column"] {
    outline: #d5dadf dashed 1px;
    padding: 0 15px 15px;
    margin: 0;
    background: #F5F5F5;
    box-shadow: 0 0 0 5px #fff inset, 0 0 0 6px #d5dadf inset;

    &:empty:after {
      outline: none;
    }
  }

  [data-type="inner-row"] {
    margin: 15px 0;
    width: 100%;
  }

  .element {
    background: #FFFFFF;
    margin: 15px 0 0;
    outline: 1px solid #d5dadf;
    min-height: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    font-family: Arial;
    align-self: flex-start;
    width: 100%;

    .element-wrap {
      display: none;
      width: 100%;
      padding: 0 10px;
      margin-top: 10px;
    }

    &:before {
      display: block;
      padding: 0 10px;
      opacity: .9;
      font-size: 12px;
      color: #42527b;
      font-weight: 500;
      text-transform: none;
      letter-spacing: normal;
    }
  }
}

#pagex-backend-content {
  [data-type="tabs"],
  [data-type="accordion"],
  [data-type="slider"] {
    padding: 10px 0 0;

    > .element-wrap {
      display: block;
    }
  }
}

/* Slider */

#pagex-backend-content {
  .pagex-slider-navigation,
  .pagex-slider-pagination {
    display: none;
  }

  [data-type="slider"] .pagex-options {
    top: 0;
  }

  .pagex-inner-row-holder {
    background: #f9f9fa;
    border: 1px solid #d5dadf;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .swiper-container {
    padding: 0;
  }
}

/* Accordion */

#pagex-backend-content {
  .pagex-accordion-item {
    background: #f9f9fa;
    border: 1px solid #00aef0;
    margin-bottom: 15px;

    &.pagex-item-active .pagex-accordion-item-content-wrapper {
      display: block;
    }
  }

  .pagex-accordion-item-content-wrapper {
    padding: 0 20px;
    display: none;
  }

  .pagex-accordion-item-header {
    background: #00aef0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 11px;

    * {
      pointer-events: none;
    }
  }

  .pagex-accordion-toggle {
    display: none;
  }
}

/* Tabs */

#pagex-backend-content {
  [data-type="tabs"] {
    .pagex-tabs-pane {
      display: none;
    }

    .pagex-tabs-pane.pagex-item-active {
      display: block;
    }

    .pagex-tabs-nav-item {
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid transparent;

      * {
        pointer-events: none;
      }

      &.pagex-item-active {
        background: #f9f9f9;
        border-color: #dee2e6;
        border-bottom-color: #f9f9f9;
      }
    }

    .pagex-tabs-nav-items {
      display: flex;
      margin: 0 0 -1px 0;
    }

    .pagex-tabs-panes {
      border: 1px solid #dee2e6;
      background: #f9f9f9;
      padding: 20px 20px 0;
      margin-bottom: 10px;
    }
  }
}
