.pagex-admin-settings {
  [type="text"], [type="number"], select {
    height: 34px;
    font-size: 13px;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: none;
    margin: 0;
  }

  select {
    width: 172px;
  }

  .clpi {
    max-width: 131px;
  }

  .description {
    font-size: 12px;
    margin-top: 4px !important;
  }

  #pagex-export-settings-area {
    font-size: 12px;
    font-family: monospace;
    max-width: 700px;
    width: 100%;
    word-break: break-all;
    margin-top: 10px;
  }
}

.pagex-tab-section {
  display: none;

  &.active {
    display: block;
  }
}

.pagex-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;

  label {
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
  }

  p {
    margin: 0 10px 10px 0 !important;
  }

  .description {
    display: block;
    width: 100%;
  }
}

.pagex-row-clear {
  width: 100%;
}

.nav-tab:focus {
  box-shadow: none;
}

.pagex-post-templates-table {
  border: 1px solid #dee2e6;
  width: 100%;
  max-width: 800px;
  margin-bottom: 1rem;
  background-color: #fff;
  border-collapse: collapse;

  td, th {
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: middle;
  }

  th {
    width: 220px;
  }

  td {
    width: 600px;
  }

  p.description {
    font-weight: 400;
    font-size: 12px;
  }
}

#tab_apis {
  [type="text"] {
    width: 500px;
  }
}